<section class="search-sec">
  <div class="container">
    <form action="#" method="post" novalidate="novalidate">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <input type="text" class="form-control search-slt" placeholder="Enter make">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <input type="text" class="form-control search-slt" placeholder="Enter Model">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <select class="form-control search-slt" id="exampleFormControlSelect1">
                <option value="">Choose your Type</option>
                <option *ngFor="let type of cartypes" [ngValue]="type">{{type}}</option>
              </select>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
<!--              <RangeSlider range values={[30,70]} />-->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
              <button type="button" class="btn btn-danger wrn-btn">Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

